projectile-bookmarks.eld
auto-save-list/*
*~
/ido.last
tramp
projectile.cache
eshell/history
elpa/
*.gpg
url/cookies
smex-items
server/server
*.signed
eshell
emojis/
/session.*
/bookmarks
/url
.org-id-locations
network-security.data
recentf
tutorial/English.tut
